<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cars</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://static.thenounproject.com/png/963363-200.png" width="60" height="60" class="d-inline-block align-top" alt="">
        DoService Application
    </a>
</nav>
<h1>Cars</h1>
<div class="row">
    <div class="col-lg-3">
        <a th:href="@{/cars/new}" class="btn btn-primary btn-sm mb-3"> Add Car</a>
    </div>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col" class="text-center">id</th>
        <th scope="col" class="text-center">brand</th>
        <th scope="col" class="text-center">model</th>
        <th scope="col" class="text-center">gen</th>
        <th scope="col" class="text-center">drivetrain</th>
        <th scope="col" class="text-center">oil frequency</th>
        <th scope="col" class="text-center">mileage</th>
        <th scope="col" class="text-center">oil</th>
        <th scope="col">ADMIN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car :${cars}">
        <td th:text=${car.getId} class="text-center"></td>
        <td th:text=${car.getBrand} class="text-center"></td>
        <td th:text=${car.getModel} class="text-center"></td>
        <td th:text=${car.getGen} class="text-center"></td>
        <td th:text=${car.getDrivetrain} class="text-center"></td>
        <td th:text=${car.getOilFrequency} class="text-center"></td>
        <td th:text=${car.getMileage} class="text-center"></td>
        <td>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">mileage</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="oilChange :${car.getOil}">
                        <td th:text=${oilChange.date}></td>
                        <td th:text=${oilChange.mileage}></td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <a th:href="@{/cars/edit/{id}(id=${car.id})}"
               class="btn btn-primary">Update</a>
            <a th:href="@{/cars/delete/{id}(id=${car.id})}">

                <button name="command" type="submit" class="btn btn-danger" title="Delete" onclick="return confirm('Are you sure?');">
                    Delete
                </button>
            </a>
        </td>
    </tr>

    </tbody>
</table>


<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>
</div>

</body>
</html>